.user{
    width: 33%;
    float: left;
}
.user img{
    width: 60%;
    height: 165px;
    border-radius: 50%;
    display: block;
    margin:auto;
}
.user-content{
    padding: 10px;
    text-align: center;
}
.user-content h5{
    font-size: 22px;
    font-weight: 700;
    margin:10px 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid lightseagreen;
}
.user-content p{
    line-height: 8px;
}
.user-content button{
    border: 1px solid darkgray;
    background-color: white;
    padding:3px 25px;
    border-radius: 5px;
}
.user-content button:hover{
    background-color: lightblue;
}